/* Special */
@define-color background #010b11;
@define-color foreground #9eced4;
@define-color cursor #9eced4;

/* Colors */
@define-color color0 #010b11;
@define-color color1 #01536b;
@define-color color2 #10626b;
@define-color color3 #9f814b;
@define-color color4 #05708a;
@define-color color5 #3f71a6;
@define-color color6 #0892a0;
@define-color color7 #9eced4;
@define-color color8 #6e9094;
@define-color color9 #01536b;
@define-color color10 #10626b;
@define-color color11 #9f814b;
@define-color color12 #05708a;
@define-color color13 #3f71a6;
@define-color color14 #0892a0;
@define-color color15 #9eced4;
